.checkbox-wrap input:checked ~ .checkmark:after {
    display: block;
    content: "\f14a";
    font-family: "FontAwesome";
    color: #ffbccf;
  }

  /* .social-media .social-icon:focus {
    color: #443136;
  } */